# Keep the Docker context minimal and ignore everything by default.
*

# Add back in anything actually needed for the build.
!/Cargo.lock
!/Cargo.toml
!/migrations
!/server/Cargo.toml
!/server/src
!/web/Cargo.toml
!/web/index.html
!/web/index.scss
!/web/src
